#v65-fieldset-paymentMethod{
	float:left;
}

form#v65-checkBilling .v65-additionalComments {
	float:none;
	margin-left:10px;
	padding:15px 0 0;
	width:390px;
}

#v65-signUpClubSummaryWrapper {
	margin-bottom: 20px;
}

#v65-checkoutCartSummaryWrapper, #v65-signUpClubSummaryWrapper{
	background: none;
	border: 1px solid #ccc;	
}

#v65-signUpClubSummaryWrapper, #v65-fieldset-paymentMethod, #v65-fieldset-billingInfo,
#v65-fieldset-shippingInfo, #v65-fieldset-usernamePassword, #v65-fieldset-shippingOptions{
	width: 430px;
}