.wrapper{
	background: $black;
	margin: 0 auto;
	position: relative;
	width: $websiteWidth;
}

	.contentWrapper{
		margin: 0 auto;
		position: relative;
		width: $innerWrapWidth;
	}

	.narrowWrapper{
		margin: 0 auto;
		position: relative;
		width: $innerWrapWidth;
	}

.scroll{
	background-image: image-url("scroll.png");
	background-repeat: no-repeat;
	height: 38px;
}

.topScroll{
	background-position: top center;
	margin-top: -38px;
}

.bottomScroll{
	background-position: bottom center;
}