.home{
	.content{
		font-size: 18px;
		line-height: 2;
		min-height: 457px;
		width: 310px;
	}
}

.sliderWrapper{
	float: left;
	width: 611px;
}

	.slider{
		border: 3px solid $gold-dark;
	}

.key{
	background: image-url('key.png') top left;
	bottom: -20px;
	height: 125px;
	position: absolute;
	right: 0;
	width: 180px;
}