footer{
	color: $footerFontColor;
	padding: 1.5em 0;
	width: 100%;

	&.narrowWrapper{
		margin-top: 25px;
	}

	ul{
		margin: 0;
		padding: 0;
	}

	li{
		list-style: none;

		a{
			color: $footerFontColor;
			position: relative;
			&:hover{
				color: $footerFontColorHover;
			}
		}
	}

	a{
		color:$footerFontColor;
	}
}

	.footerNav{
		li{
			background: image-url("footerBullet.jpg") center left no-repeat;
			padding-left: 1em;
			float: left;
			width: 45%;
		}

		a{
			color: $white;

			&:hover{
				color: $gold-dark;
				text-decoration: none;
			}
		}
	}

	.col3{
		float: left;
		margin-bottom: 1em;
		width: 33%;
	}

	.contactInfo{
		color: $gold-dark;

		.websiteName{
			text-transform: uppercase;
			margin-left: 0;
		}

		p{
			margin-left: 18px;
		}
	}

	.social{
		text-align: right;

		li{
			color: $gold-dark;
			display: inline-block;
			padding: 0 2px;
			text-transform: uppercase;
		}

		a{
			color: $white;
			font-size: 15px;
		}
	}

	.copyright{
		border-top: 1px solid $grey;
		color: #848484;
		clear: both;
		font:{
			family: sans-serif;
			size: 11px;
		}
		padding-top: 1em;
		text-transform: uppercase;

		a{
			color: #848484;
		}

		span{
			display: inline-block;
			margin-right: 9px;
		}
	}