.userTools{
	background: $black;
	color: $white;
	font-family: sans-serif;
	font-size: 11px;
	height: 50px;
	position: relative;
	text-transform: uppercase;
	z-index: 105;
	
	.wrapper{
		padding-top: 8px;
	}
}

#user-tools {
	font-size: 1em;

	a {
			color: $headerFontColor;
		}
	}

.search{
	float: right;
	margin: 8px 0 0 12px;

	span, form{
		display: inline-block;
	}

	span{
		height: 20px;
		line-height: 20px;
		margin-right: 12px;
		vertical-align: top;
	}

	form{
		margin: 0;
	}

	fieldset{
		border: none;
		margin: 0;
		padding: 0;
	}

	input{
		background: $grey;
		border: 0;
		height: 16px;
		padding: 2px 5px;
		width: 120px !important;
	}


}
	
	#v65-searchWidgetInput, #v65-searchWidgetButton{
		float: left;
	}

	#v65-searchWidgetButton{
		height: 20px;
		width: 21px;
		button.defaultBtn{
			background: image-url('search.jpg');
			border: 0;
			overflow: hidden;
			height: 20px;
			margin: 0;
			padding: 0;
			width: 21px;

			&:hover{
				background-position: top center;
			}

			span{
				display: none;
			}
		}
	}

	.logo{
		display: block;
		float: right;
		margin: 10px;
	}

	.logo-small{
		background: image-url('logo-small.jpg') top left no-repeat;
		height: 79px;
		width: 216px;
	}

	.logo-large{
		background: image-url('logo-large.jpg') top left no-repeat;
		height: 150px;
		margin-bottom: 18px;
		width: 408px;
	}