#user-tools a {
	color: $headerFontColor;
}

.search{
	float: right;
}

.header{
	height:180px;
	margin-bottom: 1em;
	position: relative;
	width: 100%;
	z-index: 100;
}

	.logo{
		display: block;
		float: left;
	}