/* ----- a. Main Menu ----- */
nav{
	background: $red;
	font:{
		family: $georgia;
		size: 15px;
	}
	height: 34px;
	line-height: 34px;
	position: relative;
	text:{
		align: center;
		transform: uppercase;
	}
	z-index: 101;

	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
	}

	li{
		display: inline-block;
		margin: 0 15px;
		padding: 0;
		position: relative;

		a{
			color: $gold;
			display: inline-block;
			height: 32px;
			line-height: 32px;
			margin: 0;
			padding: 0;
			position: relative;
			text-decoration: none;

			&:hover{
				color: $headerFontColorHover;
				text-decoration: none;
			}
		}

		// Drop Down
		&:hover ul{
			display: block;
		}

		ul{
			background: $brown;
			background: rgba($brown, 0.74);
			display: none;
			left: -10px;
			position: absolute;
			top: 32px;
			width: 180px;
		}

		li{
			display: block;
			float: none;
			margin: 0;
			text-align: left;
			width: 180px;

			a{
				color: $grey;
				display: block;
				float: none;
				height: 30px;
				line-height: 30px;
				margin: 0;
				padding: 0 0 0 10px;
				text-align: left;
				text-transform: none;
				width: 170px;

				&:hover{
					color: $gold;
				}
			}
		}
	}

	.v65-pageAParent{
		color: $headerFontColorHover
	}

	.v65-home{}

	.v65-selected{
		color: $headerFontColorHover;
		font-weight: bold;
	}
}

/* ----- b. Sub Menu ----- */
.subMenu{
	border-right: 1px solid #ccc;
	float: left;
	margin: 60px 40px 0 0;
	padding-right: 20px;
	width: 170px;

	ul{
		font-size: 11px;
		list-style: none;
		margin: 0 0 1em 10px;
		padding: 0;
		width: 160px;
	}

	li{
		line-height: 2;

		a{
			&:hover{}
		}

		ul{
			margin-left: 10px;
			width: 160px;
		}
	}

	.v65-pageAParent {
		color: #000;
	}

	.v65-leftSelected{
		color: #000;
		font-weight: bold;
	}

}