/* ----- a. Main Menu ----- */
header{
	nav{
		background: $red;
		font:{
			family: $garamond;
			size: 20px;
			variant: small-caps;
		}
		height: 34px;
		line-height: 34px;
		position: relative;
		text-align: center;
		z-index: 101;

		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			position: relative;
		}

		li{
			display: inline-block;
			margin: 0 12px;
			padding: 0;
			position: relative;

			a{
				color: $gold;
				display: inline-block;
				height: 34px;
				line-height: 34px;
				margin: 0;
				padding: 0;
				position: relative;
				text-decoration: none;

				&:hover{
					color: $headerFontColorHover;
					text-decoration: none;
				}
			}

			// Drop Down
			&:hover ul{
				display: block;
			}

			ul{
				background: $brown;
				background: rgba($brown, 0.7);
				display: none;
				font-size: 18px;
				left: -10px;
				position: absolute;
				top: 34px;
				width: 180px;
			}

			li{
				display: block;
				float: none;
				margin: 0;
				text-align: left;
				width: 180px;

				a{
					color: $grey;
					display: block;
					float: none;
					height: 30px;
					line-height: 30px;
					margin: 0;
					padding: 0 0 0 10px;
					text-align: left;
					text-transform: none;
					width: 170px;

					&:hover{
						color: $gold-light;
					}
				}
			}
		}

		.v65-pageAParent{
			color: $headerFontColorHover;
			font-weight: bold;
		}

		.v65-home{}

		.v65-selected{
			color: $headerFontColorHover;
			font-weight: bold;
		}
	}
}

/* ----- b. Sub Menu ----- */
.subMenu{
	background: $brown-light;
	border: 3px solid $gold-dark;
	font-size: 16px;
	margin: 0 auto 70px;
	padding: 0 20px;
	width: 140px;

	font:{
		family: $garamond;
		variant: small-caps;
	}

	ul{
		font-size: 15px;
		list-style: none;
		margin: 0;
		padding: 3px 0 0;

		ul{
			padding-left: 5px;
			font-size: 85%;
		}
	}

	a{
		color: $grey;
		display: block;
		float: none;
		height: 30px;
		line-height: 30px;
		margin: 0;
		text-align: left;
		text-transform: none;

		&:hover{
			color: $gold-light;
			text-decoration: none;
		}
	}

	.v65-pageAParent {
		color: $gold;
		font-weight: bold;
	}

	.v65-leftSelected{
		color: $gold;
		font-weight: bold;
	}

}