.printBody {
	background-color: #fff;
	background-image: none;
	margin: 0;
	padding: 0;
}

	.printWrapper {
		margin: 0 auto;
		width: 700px;
	}

		.printHeader {
			height: 150px;
			width: 700px;
		}

		.printContent {
			text-align: left;
			width: 700px;
		}