// Fonts
$garamond: "adobe-garamond-pro-n4","adobe-garamond-pro", garamond, sans-serif;
$garamond-bold: "adobe-garamond-pro-n7","adobe-garamond-pro",sans-serif;
$georgia: georgia, sans-serif;
$voluta: "voluta-script-pro-n4","voluta-script-pro",sans-serif;

// Colors
$black: #000;
$purple: #621c32;
$red: #4f1922;
$red-dark: #790000;
$tan: #f8eedb;
$gold-extra-light: #f4e6b2;
$gold-light: #c8ad7a;
$gold: #d6a97b;
$gold-dark: #b68859;
$grey-light: #ccc;
$grey: #d7d7d7;
$grey-dark: #999;
$white: #fff;
$brown: #3c3532;
$brown-light: #534945;

$backgroundColor: $black;

$buttonFontColor: $red-dark;
$altButtonFontColor: $black;

$websiteWidth: 1150px;
$innerWrapWidth: 975px;

$fontColor: $black;
$fontFamily: $garamond;

$headingFontFamily: $garamond;
$headingFontColor: $red-dark;

$headerFontColor: $white;
$headerFontColorHover: $grey;

$footerFontColor: $white;
$footerFontColorHover: $grey;

@mixin borderBox{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin gradient($color1, $color2){
	background: $color1;
	background-image: -webkit-linear-gradient(top, $color1, $color2);
	background-image: -moz-linear-gradient(top, $color1, $color2);
	background-image: -ms-linear-gradient(top, $color1, $color2);
	background-image: -o-linear-gradient(top, $color1, $color2);
	background-image: linear-gradient(top, $color1, $color2);
}