// Fonts
$garamond: "adobe-garamond-pro-n4","adobe-garamond-pro", garamond, sans-serif;
$georgia: georgia, sans-serif;

// Colors
$black: #000;
$purple: #621c32;
$red: #4f1922;
$tan: #f8eedb;
$gold: #d0c48f;
$gold-dark: #b68859;
$grey: #d7d7d7;
$white: #fff;
$brown: #534945;

$backgroundColor: $black;
$websiteWidth: 1024px;

$fontColor: $black;
$fontFamily: $garamond;

$headingFontFamily: $garamond;
$headingFontColor: $red;

$headerFontColor: $white;
$headerFontColorHover: $grey;

$footerFontColor: $white;
$footerFontColorHover: $grey;

.hideText{
	overflow:hidden;
	text-indent:100%;
	white-space:nowrap;
	
	a{
		display:block;
		height:100%;
	}
}
