//   ===================================================================================================
//		Default Theme
//   ===================================================================================================
$backgroundColor: #eee; // Website Background Color
$boxShadowColor: #999; // Box Shadow Color
$websiteWidth: 950px;

$fontColor: #666; // General Font Color
$fontFamily: "Lucida Sans Unicode", "Lucida Grande", sans-serif; // Default Font Family

$headingFontFamily: "Times New Roman", Times, serif; // Default Heading Font Family
$headingFontColor: #333; // Default Heading Font Color

$headerFontColor: #333; //Font Color outside the container
$headerFontColorHover: #000; // Hover font color outside the container

$footerFontColor: #333; //Font Color outside the container
$footerFontColorHover: #000; // Hover font color outside the container