###
# system SWAP, TMP and BACKUP files
###
*~
*.swp
*.bak

###
# Windows
###
Thumbs.db

###
# Mac OS X directory preferences
###
.DS_Store
._*

###
# System
###
_gsdata_
Application.cfc
index.cfm
blank.gif
empty.empty
www/emailTracking
www/assets/captcha
www/assets/client
www/assets/images/blog
www/assets/images/contentblock
www/assets/images/photogallery
www/assets/images/pods
www/assets/images/products
www/assets/images/recipes

###
# Sublime
###
sftp-config.json

###
#   SCSS Files
###
.sass-cache/